

<div class="col-lg-12">
    <button ng-if="prev" ng-click="getPrev()" class="pull-left col-lg-3 btn btn-link">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button ng-click="changeCol()" class="pull-left btn btn-link col-lg-3" style="vertical-align: bottom"> <span class="glyphicon glyphicon-text-width" style="margin-right: 5px" aria-hidden="true"></span></button>





    <button ng-if="next" ng-click="getNext()" class="pull-right col-lg-3 btn btn-link">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    <button ng-click="changeRows()" class="pull-right btn btn-link col-lg-3" style="vertical-align: bottom"> <span class="glyphicon glyphicon-text-height" style="margin-right: 5px" aria-hidden="true"></span></button>

    

</div>


<article class="col-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-{{col}} cloud_{{rows}}">
                {{text}}
            </div>
        </div>
    </div>
</article>

