<div class="container">
    <h2>{{transaction.people}}:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>{{transaction.Email}}</th>
                

            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in people">
                <td>
                    <a href="#/user">{{user.Email}}</a>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>