<div class="container">
    <h2>{{transaction.people}}:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>{{transaction.Email}}</th>
                

            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in people">
                <td >
                    
                        <button ng-click="setUser( user.Email)" class="btn btn-link" type="button">{{user.Email}}</button>
                    
                </td>
                
            </tr>
        </tbody>
    </table>
</div>