

<h2 class="col-lg-12">
    {{user.Email}}
</h2>




<table class="table">
    <thead>
        <tr>
            <th>{{transaction.Maedals}}</th>


        </tr>
    </thead>
    <tbody>

    <tr>
        <td ng-if="user.Medal1">
            saf
        </td>

    </tr>
    <tr>
        <td ng-if="user.Medal2">
            safsaf
        </td>

    </tr>
        <tr>
            <td ng-if="user.Medal3">
                saf
            </td>

        </tr>
    </tbody>
</table>
</div>





<div class="list-group col-lg-12">
    <a class="list-group-item active">
        <h4 class="list-group-item-heading">
           Books
        </h4>
    </a>
    <div ng-repeat="book in user.Books" class="panel panel-default">
        <div class="panel-heading">
            {{book.Name}}
            <button type="button" class="btn btn-link btn-mini pull-right">Edit</button>
            <button type="button" class="btn btn-link btn-mini pull-right">Read</button>
        </div>
        <div class="panel-footer">
            ssagsg
            <button type="button" class="btn btn-link btn-mini pull-right">Comments <span class="badge">{{book.Id}}</span></button>
        </div>
    </div>
</div>