

<h2 class="col-lg-12">
    {{user.Login}}
</h2>

<h2 class="col-lg-12">
    {{UserId}}
</h2>

<h2 class="col-lg-12">
    {{user.Raiting}}
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</h2>





<a href="#" ng-repeat="book in user.Books" class="list-group-item">
        <h4 class="list-group-item-heading">
            {{book.Name}}
        </h4>

        <p class="list-group-item-text">
            {{book.Id}}
        </p>
    </a>


