.cloud_1 { font-size: 1em; }
.cloud_2 { font-size: 2em; }
.cloud_3 { font-size: 3em; }
.cloud_4 { font-size: 4em; }
.cloud_5 { font-size: 5em; }
.cloud_6 { font-size: 6em; }
.cloud_7 { font-size: 7em; }
.cloud_8 { font-size: 8em; }
.cloud_9 { font-size: 9em; }
.cloud_10 { font-size: 10em; }
