<div class="list-group col-lg-6">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            Last Books
        </h4>
    </a>

   
    
    <a href="#"  ng-repeat="book in latestBooks" class="list-group-item">
        <h4 class="list-group-item-heading">
            {{book.Name}}
        </h4>

        <p class="list-group-item-text">
            {{book.Id}}
        </p>
    </a>


</div>
<div class="list-group col-lg-6">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">
            Best Books
        </h4>
    </a>

    <a href="#" ng-repeat="book in bestBooks" class="list-group-item">
        <h4 class="list-group-item-heading">
            {{book.Name}}
        </h4>

        <p class="list-group-item-text">
            {{book.Id}}
        </p>
    </a>

</div>

<div class="col-lg-12"
     word-cloud
     words="hoh"
     type="cloud"
     sort="{string}"
     ng-click="{string}">
    
</div>
