


<div class="list-group col-lg-4">
    <a class="list-group-item active">
        <h4 class="list-group-item-heading">
            Last Books
        </h4>
    </a>
    <div ng-repeat="book in latestBooks" class="panel panel-default">
        <div class="panel-heading">
            {{book.Name}}
            <a href="#/read" type="button" class="btn btn-link btn-mini pull-right"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
        </div>
        <div class="panel-footer">
            {{book.Category}}

            <button type="button" class="btn btn-link btn-mini pull-right"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge">{{book.CommentCount}}</span></button>
        </div>
    </div>
</div>
<div class="list-group col-lg-4">
    <a class="list-group-item active">
        <h4 class="list-group-item-heading">
            Best Books
        </h4>
    </a>
    <div ng-repeat="book in bestBooks" class="panel panel-default">
        <div class="panel-heading">
            {{book.Name}}
              <a href="#/read" type="button" class="btn btn-link btn-mini pull-right"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
        </div>
        <div class="panel-footer">
            {{book.Category}}

            <button type="button" class="btn btn-link btn-mini pull-right"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge">{{book.CommentCount}}</span></button>
        </div>
    </div>

</div>

<div class="col-lg-4">
    <div class="list-group ">
        <a class="list-group-item active" >
            <h4 class="list-group-item-heading">
                Canegories
            </h4>
        </a>
        <a class="list-group-item" ng-repeat="category in categories">
            <h4 class="list-group-item-heading">
                {{category.Name}}
            </h4>
        </a>
    </div>
    <div id="keyword_cloud">
        <div class="dataBoxContent">
            <div ng-repeat="word in words" class="cloud_{{ word.Size }}" style="margin: 5px; float: left" title="Keyword wordSize {{ word.Size }} times">{{ word.Word }}</div>
        </div>
    </div>


</div>

