
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<div class="row">
    <div id="userList">
        <div ng-repeat="user in people" class="col-lg-12">
            <div> User with id: {{user.Id}}</div>
            
        </div>
    </div>
</div>


