
@{
    ViewBag.Title = "People";
}

<div class="container">
    <h2>{{translation.people}}</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Login</th>
                <th>Reiting</th>
                <th>Books amount</th>
            </tr>
        </thead>
        <tbody>

        <tr ng-repeat="user in people">
            <td>
                <a ng-href="/userPage/">{{user.Id}} {{user.Login}}</a>
            </td>
                <td>{{user.Reiting}}</td>
                <td>{{user.BA}}</td>
        </tr>
        </tbody>
    </table>
</div>



